.material-radio{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  @keyframes fade {
    0%, 50% {
      opacity: 0;
      transform: scale(0);
    }
  }

  input + label {
    background: #4285F4;
    animation-delay: 0s;
  }
  input + label:before {
    transform: scale(0);
  }
  input:checked + label:before {
    transform: scale(1);
    transition: all .4s;
  }
  [type="radio"] {
    display: none;
  }
  .radio:checked + label:after {
    background: transparent;
    transition: all .5s;
    transform: scale(1);
  }

  .title{
    margin-top: 24px;
    margin-bottom: 24px;
    color: black;
    opacity: .67;
    font-weight: 800;
  }

  .container{
    position: relative;
    padding-left: 24px;
  }

  .group{
    height: 42px;
    display: flex;
  }

  .radio-wrapper, .label-wrapper{
    position: relative;
  }

  .radio-wrapper{
    width: 20px;
  }

  .label-wrapper{
    margin-left: 24px;
    line-height: 42px;
    margin-top: -2px;
    color: black;
    opacity: .67;
    font-size: 15px;
    font-weight: 200;
  }

  label, label:before, label:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 0;
    outline: 0;
    overflow: hidden;
    box-sizing: border-box;
  }

  label {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }

  label:before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.117647) 0 0 .8vw 0, rgba(0, 0, 0, 0.239216) 0 .8vw .8vw 0;
    transition: all .2s;
  }
  label:hover:before {
    box-shadow: rgba(0, 0, 0, 0.0784314) 0 0 1vw 0, rgba(0, 0, 0, 0.239216) 0 1vw 1vw 0;
  }
  label:after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, .5);
    border-radius: 50%;
    transform: scale(0);
  }
}
